//----命名-------------------//
$style: 亮色, 暗色;

$_menuColor: #042c4e, #171d1f; //menu底色

$_mainColor: #333a93, #bc2769; //主色
$_subColor: #333a93, #21baff; //輔色
//-------------------------------------------顏色變數----//
$_blockColor: #fff, #232628; //區塊顏色
$_bgColor: #fff, #0f1416; //底色
$_wordColor: #000000, #bbbbbb; //文字顏色
$_headerColor: #ffffff, #171d1f; //header底色

$_headingColor: #111, #eee;
$_aColor: #6a4689, #eee;
$_aHover: #8100cb, #00beda;

$_thColor: #e4edef, #404e55;

$_highlight: #058dca, #00f6ff;
$_line: #ddd, #333;
